<a href="https://colab.research.google.com/github/vinaydarelli/2105A42015/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 MOUNT GOOGLE DRIVE

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

IMPORT REQUIRED LIBRARIES

In [ ]:
import numpy as np
import math as mt
import random
import pandas as pd

LOAD DATA

In [19]:
social = pd.read_csv("/content/drive/MyDrive/Social_Network.csv")
social.head()

  Social Media  Gender  Age  EstimatedSalary  Purchased
0     Facebook    Male   19            19000          0
1      Twitter    Male   35            20000          0
2    Instagram  Female   26            43000          0
3      Linkdin  Female   27            57000          0
4     Facebook    Male   19            76000          0

CHECKING FOR NULL VALUES

In [9]:
print(social.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Social Media     400 non-null    object
 2   Gender           400 non-null    object
 3   Age              400 non-null    int64
 4   EstimatedSalary  400 non-null    int64
 5   Purchased        400 non-null    int64
dtypes: int64(4), object(2)
memory usage: 18.9+ KB
None

SATISRICAL INFORMATION FOR DATA

In [10]:
print(social.describe())

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   40.175000     69742.500000    0.357500
std    7.165832e+04   31.709511     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   30.000000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07  480.000000    150000.000000    1.000000

BINARY CONVERSION

In [11]:
#Converting the categorical variable into numerical
varlist =  ['Gender']

# Defining the map function
def binary_map(x):
    return x.map({'Female': 1, 'Male': 0})

# Applying the function to the housing list
social[varlist] = social[varlist].apply(binary_map)

# Check the housing dataframe now
social

      User ID Social Media  Gender  Age  EstimatedSalary  Purchased
0    15624510     Facebook       0   19            19000          0
1    15810944      Twitter       0   35            20000          0
2    15668575    Instagram       1   26            43000          0
3    15603246      Linkdin       1   27            57000          0
4    15804002     Facebook       0   19            76000          0
..        ...          ...     ...  ...              ...        ...
395  15691863     Facebook       1   46            41000          1
396  15706071      Twitter       0   51            23000          1
397  15654296    Instagram       1   50            20000          1
398  15755018      Linkdin       0   36            33000          0
399  15594041     Facebook       1   49            36000          1

[400 rows x 6 columns]

CATEGORIAL CONVERSION

In [12]:
status = pd.get_dummies(social['Social Media'], drop_first = True)


social = pd.concat([social, status], axis = 1)


social.drop(['Social Media'], axis = 1, inplace = True)

social

,User ID,Gender,Age,EstimatedSalary,Purchased,Instagram,Linkdin,Twitter
0,15624510,0,19,19000,0,0,0,0
1,15810944,0,35,20000,0,0,0,1
2,15668575,1,26,43000,0,1,0,0
3,15603246,1,27,57000,0,0,1,0
4,15804002,0,19,76000,0,0,0,0
...,...,...,...,...,...,...,...,...
395,15691863,1,46,41000,1,0,0,0
396,15706071,0,51,23000,1,0,0,1
397,15654296,1,50,20000,1,1,0,0
398,15755018,0,36,33000,0,0,1,0
399,15594041,1,49,36000,1,0,0,0

OUTLINERS DETECTION

In [13]:
def detect_outliers_zscore(data):
    outliers = []
    thres = 1
    mean = np.mean(data)
    std = np.std(data)
    #print(mean, std)
    for i in data:
        #print(i)
        z_score = (i-mean)/std
        if (np.abs(z_score) > thres):
            outliers.append(i)
    return outliers# Driver code

In [14]:
sample_outliers_Age = detect_outliers_zscore(social['Age']) 
print("Outliers in Age column from Z-scores method: ", sample_outliers_Age)

Outliers in Age column from Z-scores method:  [480, 270, 370]

In [15]:
from scipy.stats import zscore
z1=np.abs(zscore(social['Age']))
social['Zscore_Age']=z1
outliers_Age=len(social[social['Zscore_Age']>3])
data_z = social[social['Zscore_Age']<3]
social=data_z.drop(['Zscore_Age'], axis=1)
social

,User ID,Gender,Age,EstimatedSalary,Purchased,Instagram,Linkdin,Twitter
0,15624510,0,19,19000,0,0,0,0
1,15810944,0,35,20000,0,0,0,1
2,15668575,1,26,43000,0,1,0,0
3,15603246,1,27,57000,0,0,1,0
4,15804002,0,19,76000,0,0,0,0
...,...,...,...,...,...,...,...,...
395,15691863,1,46,41000,1,0,0,0
396,15706071,0,51,23000,1,0,0,1
397,15654296,1,50,20000,1,1,0,0
398,15755018,0,36,33000,0,0,1,0
399,15594041,1,49,36000,1,0,0,0

MISSING VALUES TREATMENT


NEW SELECTION

In [16]:
print(social.isnull().sum())

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
Instagram          0
Linkdin            0
Twitter            0
dtype: int64

DATA NORMALIZATION

In [17]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
social_norm = scaler.fit_transform(social)
social_norm

array([[0.23263608, 0.        , 0.02380952, ..., 0.        , 0.        ,
        0.        ],
       [0.98273164, 0.        , 0.4047619 , ..., 0.        , 0.        ,
        1.        ],
       [0.40992649, 1.        , 0.19047619, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.35247659, 1.        , 0.76190476, ..., 1.        , 0.        ,
        0.        ],
       [0.75771987, 0.        , 0.42857143, ..., 0.        , 1.        ,
        0.        ],
       [0.1100476 , 1.        , 0.73809524, ..., 0.        , 0.        ,
        0.        ]])

DATA SPLIT

In [18]:
from sklearn.model_selection import train_test_split
dataframe = social.values
X, y = dataframe[:, :-1], dataframe[:, -1]
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 10)
x_train

array([[15792102,        1,       26, ...,        0,        0,        0],
       [15766289,        0,       27, ...,        0,        1,        0],
       [15810075,        1,       44, ...,        0,        0,        0],
       ...,
       [15697686,        0,       29, ...,        0,        0,        1],
       [15722758,        0,       30, ...,        0,        0,        1],
       [15746203,        1,       47, ...,        1,        1,        0]])

THANK YOU